In [1]:
import pandas as pd

In [2]:
scored_variants = pd.read_csv("/mnt/lab_data2/anusri/signed_variant_scorer/variant-scorer/output/blood_traits/ATAC/summary.mean.variant_scores.tsv", sep="\t", header=0)
blood_variants=pd.read_csv("/mnt/lab_data2/anusri/signed_variant_scorer/variant-scorer/output/blood_traits/SNP_info_table.tsv", sep="\t", header=0)
scored_variants_dnase = pd.read_csv("/mnt/lab_data2/anusri/signed_variant_scorer/variant-scorer/output/blood_traits/DNASE/summary.mean.variant_scores.tsv", sep="\t", header=0)

In [3]:
import numpy as np
scored_variants["sign.jsd.mean"] = scored_variants["jsd.mean"] * np.sign(scored_variants["logfc.mean"])
scored_variants = scored_variants[['chr', 'pos', 'allele1', 'allele2', 'variant_id', 'logfc.mean', "sign.jsd.mean", "abs_logfc_x_jsd_x_max_percentile.mean", 'abs_logfc_x_jsd_x_max_percentile.mean.pval']]

scored_variants_dnase["sign.jsd.mean"] = scored_variants_dnase["jsd.mean"] * np.sign(scored_variants_dnase["logfc.mean"])
scored_variants_dnase = scored_variants_dnase[['chr', 'pos', 'allele1', 'allele2', 'variant_id', 'logfc.mean', "sign.jsd.mean", "abs_logfc_x_jsd_x_max_percentile.mean", 'abs_logfc_x_jsd_x_max_percentile.mean.pval']]

In [4]:
final = scored_variants.merge(blood_variants, how="left", left_on=["variant_id", "allele1", "allele2"], right_on=["rsid", "allele1", "allele2"])

In [5]:
final.columns

Index(['chr', 'pos', 'allele1', 'allele2', 'variant_id', 'logfc.mean',
       'sign.jsd.mean', 'abs_logfc_x_jsd_x_max_percentile.mean',
       'abs_logfc_x_jsd_x_max_percentile.mean.pval', 'rsid', 'traits', 'IDs',
       'maxPIP'],
      dtype='object')

In [6]:
final.shape

(11916124, 13)

In [8]:

scored_variants.shape

(11916124, 9)

In [9]:
blood_variants.shape

(12951, 6)

In [10]:
scored_variants_dnase.shape

(11916124, 9)

In [12]:
rename_dict = {'logfc.mean': 'ENCSR637XSC.logfc.mean' , 'sign.jsd.mean': 'ENCSR637XSC.sign_jsd.mean' ,'abs_logfc_x_jsd_x_max_percentile.mean': 'ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean', 'abs_logfc_x_jsd_x_max_percentile.mean.pval': 'ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean.pval'}

final = final.rename(columns=rename_dict)

In [14]:
for key in rename_dict:
    val = rename_dict[key]
    val = val.replace("ENCSR637XSC.", "ENCSR000EMT.")
    final[val] = scored_variants_dnase[key]

In [15]:
final.head(1)

,chr,pos,allele1,allele2,variant_id,ENCSR637XSC.logfc.mean,ENCSR637XSC.sign_jsd.mean,ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean,ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean.pval,rsid,traits,IDs,maxPIP,ENCSR000EMT.logfc.mean,ENCSR000EMT.sign_jsd.mean,ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean,ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean.pval
0,chr1,10352,T,TA,rs150218945,-0.036835,-0.016749,0.000497,0.055084,NaN,NaN,NaN,NaN,0.004799,0.013399,0.000059,0.219019

In [16]:
final.to_csv("../final_figures_new/k562.gwas_variants.tsv", sep="\t", header=True, index=False)

In [17]:
final.head()

,chr,pos,allele1,allele2,variant_id,ENCSR637XSC.logfc.mean,ENCSR637XSC.sign_jsd.mean,ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean,ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean.pval,rsid,traits,IDs,maxPIP,ENCSR000EMT.logfc.mean,ENCSR000EMT.sign_jsd.mean,ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean,ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean.pval
0,chr1,10352,T,TA,rs150218945,-0.036835,-0.016749,0.000497,0.055084,NaN,NaN,NaN,NaN,0.004799,0.013399,0.000059,0.219019
1,chr1,11012,C,G,rs544419019,-0.010156,-0.022090,0.000218,0.116639,NaN,NaN,NaN,NaN,0.008337,0.031942,0.000489,0.061075
2,chr1,13110,G,A,rs540538026,-0.005588,-0.003792,0.000005,0.703089,NaN,NaN,NaN,NaN,-0.000662,-0.004676,0.000001,0.727699
3,chr1,13116,T,G,rs62635286,0.006778,0.005039,0.000011,0.649554,NaN,NaN,NaN,NaN,0.007013,0.005918,0.000002,0.620976
4,chr1,13118,A,G,rs200579949,0.028640,0.006264,0.000050,0.334598,NaN,NaN,NaN,NaN,0.013721,0.006579,0.000006,0.504230

In [18]:
final.shape

(11916124, 17)

In [19]:
enformer = pd.read_csv("/mnt/lab_data2/anusri/variant-scorer/src/output/blood_traits/enformer_predictions.tsv", sep="\t", header=0)

In [20]:
enformer.head()

,chr,pos,ref,alt,rsid,DNASE_SAD,DNASE_SAR,CAGE_SAD_4828,CAGE_SAR_4828,CAGE_SAD_5111,CAGE_SAR_5111
0,chr1,11012,C,G,rs544419019,0.000217,0.000304,0.001164,0.001593,0.002567,0.003328
1,chr1,13110,G,A,rs540538026,-0.000036,-0.000051,-0.000100,-0.000137,-0.000312,-0.000402
2,chr1,13116,T,G,rs62635286,-0.000013,-0.000018,-0.000108,-0.000148,-0.000253,-0.000327
3,chr1,13118,A,G,rs200579949,0.000020,0.000028,0.000077,0.000105,0.000263,0.000340
4,chr1,13273,G,C,rs531730856,0.000056,0.000078,0.000225,0.000305,0.000451,0.000569

In [21]:
enformer.shape

(9840768, 11)

In [23]:
sum(final["variant_id"].isin(enformer["rsid"]))

11916124

In [24]:
final["variant_id"].isin(enformer["rsid"])[0:5]

0    True
1    True
2    True
3    True
4    True
Name: variant_id, dtype: bool

In [35]:
dffinal1 = final.merge(enformer, right_on=["chr", "rsid", "ref", "alt"], left_on=["chr", "variant_id", "allele1", "allele2"], how="left")
dffinal2 = final.merge(enformer, right_on=["chr", "rsid", "ref", "alt"], left_on=["chr", "variant_id", "allele2", "allele1"], how="left")

In [36]:
dffinal1.shape

(11916124, 27)

In [37]:
dffinal2.shape

(11916124, 27)

In [38]:
sum(np.isnan(dffinal1["DNASE_SAD"]))

3689054

In [39]:
sum(np.isnan(dffinal2["DNASE_SAD"]))

10314492

In [40]:
sum(np.isnan(dffinal1["DNASE_SAD"]) & np.isnan(dffinal2["DNASE_SAD"]))

2087422

In [41]:
11916124-2087422

9828702

In [43]:
dffinal1[np.isnan(dffinal1["DNASE_SAD"])]["DNASE_SAD"] = dffinal2[np.isnan(dffinal1["DNASE_SAD"])]["DNASE_SAD"]

/users/anusri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
dffinal1[np.isnan(dffinal1["DNASE_SAR"])]["DNASE_SAR"] = dffinal2[np.isnan(dffinal1["DNASE_SAR"])]["DNASE_SAR"]

/users/anusri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
dffinal1.count()

chr                                                       11916124
pos_x                                                     11916124
allele1                                                   11916124
allele2                                                   11916124
variant_id                                                11916124
ENCSR637XSC.logfc.mean                                    11916124
ENCSR637XSC.sign_jsd.mean                                 11916124
ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean         11916124
ENCSR637XSC.abs_logfc_x_jsd_x_max_percentile.mean.pval    11916124
rsid_x                                                       12937
traits                                                       12937
IDs                                                          12937
maxPIP                                                       12937
ENCSR000EMT.logfc.mean                                    11916124
ENCSR000EMT.sign_jsd.mean                                 11916124
ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean         11916124
ENCSR000EMT.abs_logfc_x_jsd_x_max_percentile.mean.pval    11916124
pos_y                                                      8227070
ref                                                        8227070
alt                                                        8227070
rsid_y                                                     8227070
DNASE_SAD                                                  8227070
DNASE_SAR                                                  8227070
CAGE_SAD_4828                                              8227070
CAGE_SAR_4828                                              8227070
CAGE_SAD_5111                                              8227070
CAGE_SAR_5111                                              8227070
dtype: int64

In [48]:
sum(np.isnan(dffinal1[~np.isnan(dffinal1["maxPIP"])]["DNASE_SAD"]))

2917

In [49]:
bg = pd.read_csv("/oak/stanford/groups/akundaje/projects/igvf-fcc/data/rosa/background_distal_noncoding_alleles_position_match.txt", sep="\t", header=0)

In [50]:
bg.head()

    chr  start      end         rsid REF ALT
0  chr1  10351  10352.0  rs150218945   T  TA
1  chr1  11011  11012.0  rs544419019   C   G
2  chr1  13109  13110.0  rs540538026   G   A
3  chr1  13115  13116.0   rs62635286   T   G
4  chr1  13117  13118.0  rs200579949   A   G

In [51]:
sum(bg["rsid"].str.contains(","))

0

In [52]:
sum(bg["rsid"].str.contains(";"))

0

In [53]:
sigs = pd.read_csv("/mnt/lab_data2/anusri/variant-scorer/src/output/blood_traits/SNP_info_table.tsv", sep="\t", header=0)

In [54]:
sigs.head()

         rsid allele1 allele2 traits              IDs    maxPIP
0  rs10000067       T       C    MCH   MCH_rs10000067  0.007929
1  rs10001067       C       G    MCV   MCV_rs10001067  0.021491
2  rs10001396       C       G    MCH   MCH_rs10001396  0.010357
3  rs10002448       G       A    MCH   MCH_rs10002448  0.012410
4  rs10002971       A       C   MCHC  MCHC_rs10002971  0.019088

In [55]:
sum(bg[["rsid", "REF", "ALT"]].isin(sigs["rsid"]))

12954

In [56]:
bg.shape

(9850361, 6)

In [57]:
sigs.shape

(12951, 6)

In [66]:
temp = bg.merge(sigs, left_on=["rsid", "REF", "ALT"], right_on=["rsid", "allele1", "allele2"], how="left")
temp1 = bg.merge(sigs, left_on=["rsid", "REF", "ALT"], right_on=["rsid", "allele2", "allele1"], how="left")

In [61]:
temp.shape

(9850361, 11)

In [62]:
bg.shape

(9850361, 6)

In [67]:
temp[np.isnan(temp["maxPIP"])]["maxPIP"] = temp1[np.isnan(temp["maxPIP"])]["maxPIP"]

sum(~np.isnan(temp["maxPIP"]))

/users/anusri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

10140