In [38]:
import pandas as pd

In [87]:
min_seqlets=100

In [88]:
#for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:
print("ATAC")
for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:

    ifile="/oak/stanford/groups/akundaje/anusri/motif-unify/counts_versus_profile/ATAC/"+celltype+"/output/cluster_key.txt"
    #print(ifile)
    data = pd.read_csv(ifile, sep='\t', header=None)
    
    tcount=0
    tcommon=0
    tprofile=0
    tcounts=0
    for i,r in data.iterrows():
        if (("counts" in r[1]) and ("profile" in r[1])):
            tcount+=1
            tcommon+=1
        else:
            #print(r[1])
            #print(tcount)
            for val in r[1].split(","):
                if int(val.split("_")[-1]) > min_seqlets:
                    tcount+=1
                    if ("counts" in r[1]):
                        tcounts+=1

                    if ("profile" in r[1]):
                        tprofile+=1
                    
                    break
            #print(tcount)
                
    print(celltype,tcommon*100/tcount, tcommon, tcounts, tprofile, tcount)
    
#for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:
print("\n")
print("DNASE")

for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:

    ifile="/oak/stanford/groups/akundaje/anusri/motif-unify/counts_versus_profile/DNASE/"+celltype+"/output/cluster_key.txt"
    #print(ifile)
    data = pd.read_csv(ifile, sep='\t', header=None)
    
    tcount=0
    tcommon=0
    tprofile=0
    tcounts=0
    for i,r in data.iterrows():
        if (("counts" in r[1]) and ("profile" in r[1])):
            tcount+=1
            tcommon+=1
            
        else:

            #print(r[1])
            #print(tcount)
            for val in r[1].split(","):
                if int(val.split("_")[-1]) > min_seqlets:
                    tcount+=1
                    if ("counts" in r[1]):
                        tcounts+=1

                    if ("profile" in r[1]):
                        tprofile+=1
                    break
            #print(tcount)
                
    print(celltype,tcommon*100/tcount, tcommon, tcounts, tprofile, tcount)

ATAC
GM12878 87.09677419354838 27 0 4 31
HEPG2 70.27027027027027 26 1 10 37
IMR90 90.625 29 0 3 32
H1ESC 81.25 26 4 2 32
K562 60.0 21 1 13 35


DNASE
GM12878 70.96774193548387 22 0 9 31
HEPG2 86.84210526315789 33 1 4 38
IMR90 90.3225806451613 28 0 3 31
H1ESC 83.33333333333333 20 1 3 24
K562 68.75 22 0 10 32

In [97]:
#for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:
for celltype in ["GM12878", "HEPG2", "IMR90", "H1ESC", "K562"]:

    ifile="/oak/stanford/groups/akundaje/anusri/motif-unify/atac_versus_dnase_new_filt/"+celltype+"/output_0.99/cluster_key.txt"
    #print(ifile)
    data = pd.read_csv(ifile, sep='\t', header=None)
    print(data.shape)
    tcount=0
    tcommon=0
    tatac=0
    tdnase=0
    for i,r in data.iterrows():
        if (("ATAC" in r[1]) and ("DNASE" in r[1])):
            tcount+=1
            tcommon+=1
        else:
            #print(r[1])
            #print(tcount)
            for val in r[1].split(","):
                if int(val.split("_")[-1]) > min_seqlets:
                    tcount+=1


                    if ("ATAC" in r[1]):
                        tatac+=1

                    if ("DNASE" in r[1]):
                        tdnase+=1
                        
                    break
            #print(tcount)
                
    print(celltype,tcommon*100/tcount, tcommon, tcount, tatac, tdnase)

(51, 2)
GM12878 66.66666666666667 34 51 9 8
(60, 2)
HEPG2 60.0 36 60 9 15
(47, 2)
IMR90 59.57446808510638 28 47 11 8
(41, 2)
H1ESC 53.65853658536585 22 41 13 6
(47, 2)
K562 61.702127659574465 29 47 14 4

In [86]:
#(89-97)%
#20-33
#21-32

In [81]:
(80-97)
(81-97)

-16

In [82]:
# 0.999 more individual clusters
# 0.99 more clustering (less number of clusters)
# 0.95 more more clustering (less number of clusters)